/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.gnupg
/.jupyter
/.nv
/.profile
/.ssh
/.sudo_as_admin_successful
/.venv
/.vscode-server
/.wget-hsts
/BUILD_FROM_SOURCE_PACKAGES_LICENCES
/LINUX_PACKAGES_LICENSES
/LINUX_PACKAGES_LIST
/OSSNvidiaDriver_v570.172.08_license.txt
/PYTHON_PACKAGES_LICENSES
/THIRD_PARTY_SOURCE_CODE_URLS
/ablation.pth
/jailbreak_dirs.pth
/llm
/nvidia-acknowledgements